<h2 class="h2">Featured Cars</h2>

<!-- Cars -->
<section class="tiles">
    <article class="style1">
        <span class="image"><img src="images/benz c300.jpg" alt=""/></span>
        <a href="car-details.html">
            <h2>Mecedez C300 4MATIC 2008</h2>
            <p>
                <del><!--FORMER PRICE--></del>
                <strong>₦4,200,000</strong>
            </p>
            <p>
                <i class="fa fa-dashboard"></i> 100 000km +&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-cube"></i> 1800 cc&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-cog"></i> Automatic
            </p>
        </a>
    </article>
    <article class="style2">
        <span class="image"><img src="images/lexus es350.jpg" alt="" /></span>
        <a href="car-details.html">
            <h2>LEXUS ES350 2011 UPGRADE TO 2015</h2>
            <p>
                <del><!--FORMER PRICE--></del>
                <strong>₦4,800,000</strong></p>
            <p>
                <i class="fa fa-dashboard"></i> 102 883km &nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-cube"></i> 1800 cc&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-cog"></i> Automatic
            </p>
        </a>
    </article>
    <article class="style3">
        <span class="image"><img src="images/camry013.jpg" alt="" /></span>
        <a href="car-details.html">
            <h2>TOYOTA COROLLA 2013</h2>

            <p>
                <del><!--FORMER PRICE--></del>
                <strong>₦3,200,000</strong></p>
            <p>
                <i class="fa fa-dashboard"></i> 100 000km +&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-cube"></i> 1800 cc&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-cog"></i> Automatic
            </p>
        </a>
    </article>
    <!-- <article class="style4">
        <span class="image"><img src="images/product-4-720x480.jpg" alt="" /></span>
        <a href="car-details.html">
            <h2>Lorem ipsum dolor sit amet, consectetur</h2>
            <p><del>$11 999</del> <strong>$11 779</strong></p>
            <p>
                <i class="fa fa-dashboard"></i> 130 000km &nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-cube"></i> 1800 cc&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-cog"></i> Manual
            </p>
        </a>
    </article>
    <article class="style5">
        <span class="image"><img src="images/product-5-720x480.jpg" alt=""/></span>
        <a href="car-details.html">
            <h2>Lorem ipsum dolor sit amet, consectetur</h2>
            <p><del>$11 999</del> <strong>$11 779</strong></p>
            <p>
                <i class="fa fa-dashboard"></i> 130 000km &nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-cube"></i> 1800 cc&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-cog"></i> Manual
            </p>
        </a>
    </article>
    <article class="style6">
        <span class="image"><img src="images/product-6-720x480.jpg" alt="" /></span>
        <a href="car-details.html">
            <h2>Lorem ipsum dolor sit amet, consectetur</h2>
            <p><del>$11 999</del> <strong>$11 779</strong></p>
            <p>
                <i class="fa fa-dashboard"></i> 130 000km &nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-cube"></i> 1800 cc&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-cog"></i> Manual
            </p>
        </a>
    </article> -->
</section>