<section>
    <h2>Contact Us</h2>
    <form method="post" action="#">
        <div class="fields">
            <div class="field half">
                <input type="text" name="name" id="name" placeholder="Name" />
            </div>

            <div class="field half">
                <input type="text" name="email" id="email" placeholder="Email" />
            </div>

            <div class="field">
                <input type="text" name="subject" id="subject" placeholder="subject" />
            </div>

            <div class="field">
                <textarea name="message" id="message" rows="3" placeholder="Notes"></textarea>
            </div>

            <div class="field text-right">
                <label>&nbsp;</label>

                <ul class="actions">
                    <li><input type="submit" value="Send Message" class="primary" /></li>
                </ul>
            </div>
        </div>
    </form>
</section>
<section>
    <h2>Contact Info</h2>

    <ul class="alt">
        <li><span class="fa fa-envelope-o"></span> <a href="#">bossautos8@gmail.com</a></li>
        <li><span class="fa fa-phone"></span> +234 812 405 1622</li>
        <li><span class="fa fa-map-pin"></span> No 8, Fadire Street, Ogba, Lagos State, Nigeria</li>
    </ul>

    <h2>Follow Us</h2>

    <ul class="icons">
        <li><a href="https://twitter.com/bossautodetails" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://web.facebook.com/Boss-Auto-Detail-101865011925002" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="https://www.instagram.com/bossauto.detail" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
        <!-- <li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li> -->
    </ul>
</section>