<!-- Header -->
<header id="header">
    <div class="inner">

        <!-- Logo -->
        <a href="home.php" class="logo">
            <!-- <img class="gfg" src="images/bossautodetail.jpeg" alt="logo"> -->
            <img class="gfg" src="images/bossautodetail.jpeg" alt="logo">
            <span class="title">Boss Auto Detail</span>
        </a>

        <!-- Nav -->
        <nav>
            <ul>
                <li><a href="#menu">Menu</a></li>
            </ul>
        </nav>

    </div>
</header>