<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta name="description" content="HEALTH WISE | web based pharmacy management information system.">
<meta name="author" content="Ayodele Ogun">
<meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
<title>Boss Autos | THE UNTIMAT</title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

<!-- Icon -->
<link href="images/b.png" rel="icon" type="image/ico" sizes="any" />

<!-- Styles -->
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="assets/css/main.css" />
<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>

<style>
    .gfg {
        width: 5%;
        height: 5%;
    }
</style> 